@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        Your Order Number is : @Model <br /><br />
        <img src="~/images/success.png" width="35%" />
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary border-0 bg-gradient w-100 py-2">Back to shopping</a>
            </div>
        </div>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully! <br />
    </div>

</div> 